<!DOCTYPE html>
<html>
    <body>
        <div class="container">
            <h1>Epic Hair Salon</h1>
                <h2>Edit {{ client.getName }}'s</h2>
            <form class="form-inline" action="/client/{{ client.getId }}/edit" method="post">
                <h4>Update Name</h4>
                <div class="form-group">
                    <input class="form-control" type="text" name="client_name" placeholder="Name" required>
                </div>
                <button type="submit" class="btn btn-success">Edit</button>
            </form>
            <li><a href="javascript:history.go(-1)">Back</a></li>
        </div>
    </body>
</html>
